* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width:568px) {
  .img-logo {
   height: 14px;
  }
}

svg {
  color: white;
  margin: 0 16px;
}

@media(max-width:992px) {
  .left svg {
    display: none;
  }
}

@media(max-width:613px) {
  .right > svg {
    display: none;
  }
}

@media(max-width:540px) {
  .right .btn {
    display: none;
  }
}

hr{
  margin:0;
 }

.header3{
  margin: 0 7.5%;
}

@media(max-width:992px) {
  .navbar3 {
    display: none;
  }
}